body,html
{
    height: 100%;
    width: 100%;
}
.main-container
{
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
}


.row1
{
    height: 100%;
    width: 100%;
    margin: 0;
}

.register-form
{
    height: 100%;
    width: 100%;

    margin-left: 23%;
    margin-right: 28%;
}

.register-page-container
{
    padding-top: 50px;


}
.info-color
{
    background-color: #059EFB;
}
.name-row
{
    padding-top: 10px;
}
